* {font-size: 170px;
	font-weight: 600;
	color: darkblue;
	position: absolute;
	font-family: Helvetica, sans-serif;
	text-align: center;
}

body {
		position: fixed;
		text-align: center;
		width: 100%;
		top: 25%;
  		left: 7%;
  		margin-top: -50px;
  		margin-left: -80px;
	}

