body {font-size: 170px;
	font-weight: 600;
	color: darkblue;
	font-family: Helvetica, sans-serif;
	text-align: center;
		position: fixed;
		text-align: center;
		width: 100%;
		top: 40%;
  		left: 4%;
  		margin-top: -50px;
  		margin-left: -80px;
  		font-family: Helvetica, sans-serif;
	}



footer {
		font-size: 10%;
		color: darkblue;
		height: 6em;
		text-align: center;
		width: 100%;
		bottom: 0;
		position: fixed;
	}